.container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 300px;
    border: 2px solid #ccc;
    background-color: beige;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(217, 209, 209);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}